:root {
  --primary-color: #f15785;
  --secondary-color: #a8113e;
  --font-color: #808080;
  --bg-color: #fff;
}

[data-theme='dark'] {
  --primary-color: #9a97f3;
  --secondary-color: #818cab;
  --font-color: #e1e1ff;
  --bg-color: #161625;
}

[data-theme='karma'] {
  --primary-color: #f15785;
  --secondary-color: #a8113e;
  --font-color: #808080;
  --bg-color: #fff;
}

[data-theme='earthly'] {
  --primary-color: #daad86;
  --secondary-color: #bc896a;
  --font-color: #8d8741;
  --bg-color: #f5eccd;
}

[data-theme='hugging'] {
  --primary-color: #edf5e1;
  --secondary-color: #8ee4af;
  --font-color: #05386b;
  --bg-color: #379683;
}

[data-theme='winter'] {
  --primary-color: #b1a296;
  --secondary-color: #837b75;
  --font-color: #5d5c61;
  --bg-color: #557a95;
}

[data-theme='autumn'] {
  --primary-color: #83677b;
  --secondary-color: #64485c;
  --font-color: #adadad;
  --bg-color: #501b1d;
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Ubuntu', serif;
  background-color: var(--bg-color);
}
.theme-switcher {
  padding-top: 1.5%;
  padding-right: 0.5%;
}
.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display: none;
}

.theme-light-dark-switcher {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.theme-light-dark-switcher:before {
  background-color: #fff;
  bottom: 4px;
  content: '';
  height: 26px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 26px;
}

input:checked + .theme-light-dark-switcher {
  background-color: #161625;
}

input:checked + .theme-light-dark-switcher:before {
  transform: translateX(26px);
}

.theme-light-dark-switcher.round {
  border-radius: 34px;
}

.theme-light-dark-switcher.round:before {
  border-radius: 50%;
}

@keyframes FadeIn {
  0% {
    opacity: 0;
    transform: scale(0.1);
  }
  85% {
    opacity: 1;
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.animation-element {
  opacity: 0;
  position: relative;
}

.animation-element.slide-left {
  opacity: 0;
  transition: all 800ms linear;
  transform: translate3d(-150px, 0px, 0px);
}

.animation-element.slide-left.in-view {
  opacity: 1;
  transform: translate3d(0px, 0px, 0px);
}

.animation-element.slide-right {
  opacity: 0;
  transition: all 800ms linear;
  transform: translate3d(150px, 0px, 0px);
}

.animation-element.slide-right.in-view {
  opacity: 1;
  transform: translate3d(0px, 0px, 0px);
}

.animation-element.slide-bottom {
  opacity: 0;
  transition: all 800ms linear;
  transform: translate3d(0px, 100px, 0px);
}

.animation-element.slide-bottom.in-view {
  opacity: 1;
  transform: translate3d(0px, 0px, 0px);
}

.fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#index-jumbotron {
  background-color: #fd018c;
}

#github-form {
  margin: auto;
  width: 100%;
}
#btn-readme {
  margin-left: 1%;
}
.card {
  border: hidden;
}
.submitform {
  position: fixed;
  left: 35%;
}
.button {
  background-color: white;
  border: 2px solid #fd018c;
  color: black;
  padding: 16px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.3s;
  cursor: pointer;
  border-radius: 10px;
  outline: none;
}
.button:focus {
  outline: none;
}
.button:hover {
  background-color: #fd018c;
  color: white;
}
.warning {
  color: red;
}
input[type='text'] {
  box-sizing: border-box;
}
.navbar-custom {
  background-color: var(--primary-color);
}
.navbar-toggler:focus {
  outline: none;
}
#mode-change {
  color: var(--bg-color);
}
#home {
  color: var(--bg-color);
}
#home:hover {
  color: var(--secondary-color);
}
#slides {
  color: var(--bg-color);
}
#slides:hover {
  color: var(--secondary-color);
}
#more {
  color: var(--bg-color);
}
#more:hover {
  color: var(--secondary-color);
}
#themes {
  color: var(--bg-color);
}
#themes:hover {
  color: var(--secondary-color);
}
#readme {
  color: var(--bg-color);
}
#readme:hover {
  color: var(--secondary-color);
}
#userName {
  padding-right: 10px;
  padding-bottom: 10px;
  color: var(--bg-color);
}
#userName:hover {
  text-decoration: underline;
  color: var(--bg-color);
}
#userAvatar {
  border-radius: 10px;
}
#themes {
  color: var(--bg-color);
}
#change {
  background-color: var(--primary-color);
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
.box-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: max-content;
  border-radius: 15px;
}
.karma-pink {
  width: 30px;
  height: 30px;
  color: transparent;
  background-color: #f15785;
  border: none;
  border-radius: 50%;
  margin-right: 10px;
}
.karma-pink:focus {
  outline: none;
}
.earthly-hues {
  width: 30px;
  height: 30px;
  color: transparent;
  background-color: #daad86;
  border: none;
  border-radius: 50%;
  margin-right: 10px;
}
.earthly-hues:focus {
  outline: none;
}
.hugging-trees {
  width: 30px;
  height: 30px;
  color: transparent;
  background-color: #379683;
  border: none;
  border-radius: 50%;
  margin-right: 10px;
}
.hugging-trees:focus {
  outline: none;
}
.winter-blues {
  width: 30px;
  height: 30px;
  color: transparent;
  background-color: #557a95;
  border: none;
  border-radius: 50%;
  margin-right: 10px;
}
.winter-blues:focus {
  outline: none;
}
.autumn-purples {
  width: 30px;
  height: 30px;
  color: transparent;
  background-color: #501b1d;
  border: none;
  border-radius: 50%;
  margin-right: 10px;
}
.autumn-purples:focus {
  outline: none;
}
.close {
  padding-left: 5px;
  cursor: pointer;
}
#sustainability-row {
  display: flex;
}
.container-sustainability {
  flex-grow: 1;
  background-color: var(--primary-color);
  border-radius: 25px;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-right: 5%;
}
#sustainability {
  padding: 1%;
  width: 60%;
  height: 60%;
}
.sustainability {
  padding: 1%;
}
.sustainability-descr {
  color: var(--bg-color);
  padding-left: 10px;
  padding-top: 10%;
}
#info {
  color: var(--font-color);
}
#food-waste {
  color: var(--font-color);
}
#sdg {
  color: var(--font-color);
}
#help {
  color: var(--font-color);
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: var(--bg-color);
  background-color: var(--primary-color);
}
.nav-link {
  color: var(--primary-color);
}
.nav-link:hover {
  color: var(--secondary-color);
}
.pills-heading {
  color: var(--primary-color);
}
.url-style {
  text-decoration: underline;
  color: var(--primary-color);
}
.store-img {
  width: auto;
  height: auto;
}